@model ImnaWebsite.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>
        There's anew movie called @Model.Title!! It was released on @Model.ReleaseDate
    </p>
</div>
</body>
</html>